<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Worker Name</th>
      <th>Project</th>
      <th></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td class="table table-info"><%= project.name %></td>
        <td class="table table-info"><%= project.workers.each do |worker| %></td>
          <%= worker.name %>

        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
